APP_NAME=grok2api
APP_PORT=8000
IMAGE_NAME=luka762/grok2api
IMAGE_TAG=latest
TZ=Asia/Shanghai

SERVER_PORT=8000
SERVER_WORKERS=1
LOG_LEVEL=INFO
LOG_FILE_ENABLED=true

DATA_DIR=data
LOG_DIR=logs

ACCOUNT_STORAGE=local
ACCOUNT_LOCAL_PATH=/app/data/accounts.db
# ACCOUNT_REDIS_URL=redis://:password@host:6379/0
# ACCOUNT_MYSQL_URL=mysql+aiomysql://user:password@127.0.0.1:3306/grok2api
# ACCOUNT_POSTGRESQL_URL=postgresql+asyncpg://user:password@127.0.0.1:5432/grok2api
